<tr>
    <th scope='row'><%= user.id %></th>
    <td scope='row'><%= user.uid %></td>
    <td align='center'>
        <% if (!user.image_url.nil?) %>
            <%= image_tag(user.image_url, size: '40x40') %>
        <% end %>
    </td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'See preferences', user %></td>
</tr>