<% provide(:title, 'User information') %>

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <div class="card" style="width: 30rem;">
                <% if (!@user.image_url.nil?) %>
                    <img class="card-img-top" src="<%= @user.image_url %>" alt="Card image cap">
                <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= @user.name %></h5>
                    <p class="card-text"><%= @user.email %></p>
                </div>
            </div>
        </div>    
        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                <% @user.questions.each do |question| %>
                    <li class="list-group-item"><%= question.question %></li>
                    <li class="list-group-item"> - <%= question.answer %></li>
                <% end %>
            </ul>
        </div>
    </div>    
</div>
